.App {
  font-family: sans-serif;
  text-align: center;
}

.active {
  font-weight: bold;
}

.correct {
  background: black;
  color: green;
  font-weight: bold;
}

.incorrect {
  background: black;
  color: red;
  font-weight: bold;
}
